.movieCard {
  width: 180px;
  background: white;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
}

.movieCard.selected {
  background-color: #3f93d5;
  transform: scale(1.2);
  z-index: 1;
}

.movieImage {
  width: 100%;
  height: 220px;
  object-fit: fill;
  border-radius: 6px 6px 0 0;
}

.movieInfoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.movieTitle {
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #4b4b4b;
}

.movieTitle.selected {
  color: white;
}

.movieDateContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.movieDate {
  font-size: 12px;
  color: #747474;
}
.movieDate.selected {
  color: white;
}
